.why {
  padding-top: 49px;
  padding-bottom: 53px;

  @media (max-width:780px) {
    padding-top: 8px;
    padding-bottom: 21px;
  }

  &__title {
    margin-bottom: 40px;

    @media (max-width:540px) {
      margin-bottom: 18px;
    }
  }

  &__card-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    @media (max-width:780px) {
      gap: 20px;
    }

    @media (max-width:540px) {
      gap: 10px;
    }
  }

  &__card {
    border-radius: 10px;
    padding: 34px 40px 40px;
    min-height: 288px;
    min-width: 420px;
    max-width: 508px;
    background: linear-gradient(0deg, var(--ligth-secondary) 0%, var(--ligth-secondary) 100%), var(--secondary);
    flex: 1 1 30%;

    @media (max-width:1250px) {
      min-height: auto;
    }

    @media (max-width:1050px) {
      min-width: 380px;
    }

    @media (max-width:540px) {
      padding: 26px 20px 33px;
      min-width: 100%;
    }
  }

  &__card-title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 13px;
    font-size: clamp(1.125rem, 0.951rem + 0.77vw, 1.875rem);

    &--4 {
      margin-bottom: 6px;
    }

    &--5 {
      margin-bottom: 10px;
    }

    @media (max-width:540px) {
      margin-bottom: 11px;
    }
  }

  &__card-img {
    flex-shrink: 0;
    margin-right: 21px;
    font-size: 10px;
    font-weight: 400;

    &--3 {
      margin-right: 26px;
    }

    &--4 {
      margin-right: 16px;
    }

    &--6 {
      margin-right: 26px;
    }

    @media (max-width:540px) {
      margin-right: 11px;

      &--1 {
        width: 22px;
      }
      &--2 {
        width: 32px;
      }
      &--3 {
        width: 25px;
      }
      &--4 {
        width: 19px;
      }
      &--5 {
        width: 19px;
      }
      &--6 {
        width: 21px;
      }
    }
  }

  &__card-text {
    width: 100%;
    font-size: clamp(0.938rem, 0.836rem + 0.45vw, 1.375rem);
  }
}
