<header class="header">
  <div class="container header__container">
    <img class="logo header__logo" src="./images/svg/logo.svg" alt="Логотип" width="260" height="26">
    <div class="about-subtitle header__about-subtitle">
      Аналитика и&nbsp;оцифровка продаж
      <span class="about-subtitle__wb">
        Wildberries
      </span>
      и&nbsp;
      <span class="about-subtitle__ozon">
        Ozon
      </span>
    </div>
    <div class="header__nav">
      <div class="burger-deco">
        <img class="burger-deco-img" src="./images/svg/modal-deco-sm.svg" alt="Декор">
      </div>
      <ul class="list-reset header__nav-list">
        <li class="header__nav-item">
          <a href="#why" class="header__nav-link">
            О&nbsp;нас
          </a>
        </li>
        <li class="header__nav-item">
          <a href="#opportunities" class="header__nav-link">
            Возможности
          </a>
        </li>
        <li class="header__nav-item">
          <a href="#tariff" class="header__nav-link">
            Тарифы
          </a>
        </li>
      </ul>
      <div class="header__btns">
        <div class="btn-entrance-wrapper">
          <span class="account">
            Уже есть аккаунт?
          </span>
          <button class="btn-reset btn-entrance" type="button" data-modal="modal-entrance" aria-label="Вход">
            <span class="entrance">
              Вход
            </span>
          </button>
        </div>
        <button class="btn btn-reset primary-btn header__btn-registration" type="button" data-modal="modal-reg">
          Зарегистрироваться
        </button>
      </div>
    </div>
    <button class="btn-reset burger" type="button" aria-label="Меню">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
