<section class="hero">
  <div class="container hero__container">
    <div class="hero__content-block">
      <h1 class="first-title">
        <span class="first-title__primary">
          Внутренняя аналитика
        </span>
        <br>
        и
        <span class="first-title__secondary">
          финансовый учёт
        </span>
        для&nbsp;бизнеса на&nbsp;маркетплейсах
        <span class="hero__logos">
          <picture>
            <source srcset="./images/hero-marketplaces-logos.webp" type="image/webp">
            <img src="./images/hero-marketplaces-logos.png" alt="Логотипы OZON и WB" width="128" height="56">
          </picture>
        </span>
      </h1>
      <div class="bg-text hero__text">
        Увеличивай прибыль, автоматизируй рутину и&nbsp;экономь время на&nbsp;сборе и&nbsp;анализе отчётов
      </div>
      <div class="try hero__try">
        <div class="sm-text try__text hero__try-text">
          Начните свой 3-дневный пробный период с&nbsp;неограниченным доступом ко&nbsp;всем возможностям
        </div>
        <form class="try__form hero__try-form">
          <label class="try__form-label hero__try-label">
            <input type="email" class="try__form-input hero__try-input" placeholder="Введите ваш email">
          </label>
          <button class="btn btn-reset primary-btn try__form-btn hero__try-btn" type="submit">
            Попробовать
          </button>
        </form>
        <img class="hero-deco-1" src="./images/svg/hero-deco-1.svg" alt="Декор">
        <img class="hero-deco-2" src="./images/svg/hero-deco-2.svg" alt="Декор">
      </div>
    </div>
  </div>
  <div class="container hero__img-container">
    <div class="hero__img-block">
      <picture class="hero__picture">
        <source srcset="./images/hero-bg.webp" type="image/webp">
        <img class="hero__img" src="./images/hero-bg.png" alt="Посылки с Wb и Ozon" width="759" height="630">
      </picture>
    </div>
  </div>
</section>
