<div class="numbers">
  <div class="container numbers__container">
    <div class="numbers__card-block">
      <div class="numbers__card">
        <span class="numbers__card-number">
          777
        </span>
        <div class="text numbers__card-text">
          Увеличивай прибыль, автоматизируй рутину и&nbsp;экономь время на&nbsp;сборе и&nbsp;анализе отчётов
        </div>
      </div>
      <div class="numbers__card">
        <span class="numbers__card-number">
          5
        </span>
        <div class="text numbers__card-text">
          Увеличивай прибыль, автоматизируй рутину и&nbsp;экономь время на&nbsp;сборе и&nbsp;анализе отчётов
        </div>
      </div>
      <div class="numbers__card">
        <span class="numbers__card-number">
          100&nbsp;000
        </span>
        <div class="text numbers__card-text">
          Увеличивай прибыль, автоматизируй рутину и&nbsp;экономь время на&nbsp;сборе и&nbsp;анализе отчётов
        </div>
      </div>
    </div>
  </div>
</div>
