<section class="offer">
  <div class="container">
    <div class="try offer__try">
      <div class="offer__try-content">
        <h2 class="second-title offer__try-title">
          Начните экономить своё время
        </h2>
        <div class="sm-text try__text">
          3-дневный пробный период с&nbsp;неограниченным доступом ко&nbsp;всем возможностям
        </div>
        <form class="try__form">
          <label class="try__form-label">
            <input type="email" class="try__form-input" placeholder="Введите ваш email">
          </label>
          <button class="btn btn-reset primary-btn try__form-btn" type="submit">
            Попробовать
          </button>
        </form>
      </div>
      <div class="offer__try-img-block">
        <picture class="offer__try-picture">
          <source media="(max-width: 1050px)" srcset="./images/try-sm.webp" type="image/webp">
          <source media="(max-width: 1050px)" srcset="./images/try-sm.png">
          <source srcset="./images/try-bg.webp" type="image/webp">
          <img class="offer__try-img" src="./images/try-bg.png" alt="Продавец на фоне будильника" width="485"
            height="374">
        </picture>
      </div>
      <img class="try-deco-1" src="./images/svg/try-deco-1.svg" alt="Декор">
      <picture class="try-deco-picture-2">
        <source media="(max-width: 540px)" srcset="./images/svg/try-deco-sm-2.svg">
        <img class="try-deco-2" src="./images/svg/try-deco-2.svg" alt="Декор">
      </picture>
    </div>
  </div>
</section>
