<section class="opportunities" id="opportunities">
  <div class="container opportunities__container">
    <h2 class="second-title opportunities__title">
      Возможности сервиса
    </h2>
    <div class="opportunities__tabs-block tabs-block">
      <ul class="list-reset opportunities__tabs-list tabs">
        <li class="opportunities__tabs-item">
          <button class="btn-reset opportunities__tabs-btn opportunities__tabs-btn--active tabs__btn" type="button"
            data-tab="opportunities-tab-1">
            Финансовая аналитика
          </button>
        </li>
        <li class="opportunities__tabs-item">
          <button class="btn-reset opportunities__tabs-btn tabs__btn" type="button" data-tab="opportunities-tab-2">
            Товарная аналитика
          </button>
        </li>
        <li class="opportunities__tabs-item">
          <button class="btn-reset opportunities__tabs-btn tabs__btn" type="button" data-tab="opportunities-tab-3">
            Аналитика внутренней рекламы
          </button>
        </li>
        <li class="opportunities__tabs-item">
          <button class="btn-reset opportunities__tabs-btn tabs__btn" type="button" data-tab="opportunities-tab-4">
            Статистика
          </button>
        </li>
        <li class="opportunities__tabs-item">
          <button class="btn-reset opportunities__tabs-btn tabs__btn" type="button" data-tab="opportunities-tab-5">
            Инструменты
          </button>
        </li>
      </ul>
      <div class="opportunities__tab opportunities__tab--active tab" id="opportunities-tab-1">
        <div class="opportunities__tab-content">
          <h3 class="third-title opportunities__content-title">
            Инструменты для финансовой аналитики
          </h3>
          <ul class="list-reset opportunities__content-list">
            <li class="text opportunities__content-item">
              Отчёт о&nbsp;прибылях и&nbsp;убытках (P&amp;L)
            </li>
            <li class="text opportunities__content-item">
              Отчёт о&nbsp;движении денежных средств (ДДС)
            </li>
            <li class="text opportunities__content-item">
              Журнал операций
            </li>
            <li class="text opportunities__content-item">
              Сводка продаж
            </li>
            <li class="text opportunities__content-item">
              Учёт самовыкупов
            </li>
          </ul>
          <button class="btn btn-reset primary-btn opportunities__content-btn" type="button">
            Попробовать бесплатно
          </button>
        </div>
        <div class="opportunities__tab-img">
          <picture>
            <source srcset="./images/capabilities-bg-1.webp" type="image/webp">
            <img src="./images/capabilities-bg-1.jpg" alt="Отчёт" width="731" height="470">
          </picture>
        </div>
      </div>
      <div class="opportunities__tab tab" id="opportunities-tab-2">
        <div class="opportunities__tab-content">
          <h3 class="third-title opportunities__content-title">
            Инструменты для&nbsp;товарной аналитики
          </h3>
          <ul class="list-reset opportunities__content-list">
            <li class="text opportunities__content-item">
              Сводка продаж по&nbsp;артикулам и&nbsp;размерам
            </li>
            <li class="text opportunities__content-item">
              ABC-анализ ассортимента
            </li>
            <li class="text opportunities__content-item">
              Управление себестоимость, ценами, скидками
            </li>
            <li class="text opportunities__content-item">
              Контроль остатков
            </li>
            <li class="text opportunities__content-item">
              Работа с&nbsp;поставками Wildberries
            </li>
            <li class="text opportunities__content-item">
              Расчет поставок
            </li>
          </ul>
          <button class="btn btn-reset primary-btn opportunities__content-btn" type="button">
            Попробовать бесплатно
          </button>
        </div>
        <div class="opportunities__tab-img">
          <picture>
            <source srcset="./images/capabilities-bg-2.webp" type="image/webp">
            <img src="./images/capabilities-bg-2.jpg" alt="Отчёт" width="731" height="470" loading="lazy">
          </picture>
        </div>
      </div>
      <div class="opportunities__tab tab" id="opportunities-tab-3">
        <div class="opportunities__tab-content">
          <h3 class="third-title opportunities__content-title">
            Инструменты для аналитики внутренней рекламы на маркетплейсах
          </h3>
          <ul class="list-reset opportunities__content-list">
            <li class="text opportunities__content-item">
              Аналитика рекламы
            </li>
            <li class="text opportunities__content-item">
              Учет расходов по&nbsp;рекламным кампаниям
            </li>
            <li class="text opportunities__content-item">
              Список рекламных кампаний с&nbsp;детальной информацией в&nbsp;одном месте
            </li>
            <li class="text opportunities__content-item">
              Определение реальной рекламной ставки в&nbsp;поиске Wildberries
            </li>
          </ul>
          <button class="btn btn-reset primary-btn opportunities__content-btn" type="button">
            Попробовать бесплатно
          </button>
        </div>
        <div class="opportunities__tab-img">
          <picture>
            <source srcset="./images/capabilities-bg-3.webp" type="image/webp">
            <img src="./images/capabilities-bg-3.jpg" alt="Отчёт" width="731" height="470" loading="lazy">
          </picture>
        </div>
      </div>
      <div class="opportunities__tab tab" id="opportunities-tab-4">
        <div class="opportunities__tab-content">
          <h3 class="third-title opportunities__content-title">
            Инструменты для статистики
          </h3>
          <ul class="list-reset opportunities__content-list">
            <li class="text opportunities__content-item">
              Дашборд
            </li>
            <li class="text opportunities__content-item">
              Список всех заказов
            </li>
            <li class="text opportunities__content-item">
              География заказов и&nbsp;продаж
            </li>
            <li class="text opportunities__content-item">
              Сравнение статистики по&nbsp;периодам
            </li>
            <li class="text opportunities__content-item">
              Сводная информация о&nbsp;заказах по&nbsp;времени
            </li>
          </ul>
          <button class="btn btn-reset primary-btn opportunities__content-btn" type="button">
            Попробовать бесплатно
          </button>
        </div>
        <div class="opportunities__tab-img">
          <picture>
            <source srcset="./images/capabilities-bg-4.webp" type="image/webp">
            <img src="./images/capabilities-bg-4.jpg" alt="Отчёт" width="731" height="470" loading="lazy">
          </picture>
        </div>
      </div>
      <div class="opportunities__tab tab" id="opportunities-tab-5">
        <div class="opportunities__tab-content">
          <h3 class="third-title opportunities__content-title">
            Дополнительные инструменты
          </h3>
          <ul class="list-reset opportunities__content-list">
            <li class="text opportunities__content-item">
              Калькулятор unit экономики
            </li>
            <li class="text opportunities__content-item">
              Калькулятор участия в&nbsp;акциях Wildberries
            </li>
          </ul>
          <button class="btn btn-reset primary-btn opportunities__content-btn" type="button">
            Попробовать бесплатно
          </button>
        </div>
        <div class="opportunities__tab-img">
          <picture>
            <source srcset="./images/capabilities-bg-5.webp" type="image/webp">
            <img src="./images/capabilities-bg-5.jpg" alt="Отчёт" width="731" height="470" loading="lazy">
          </picture>
        </div>
      </div>
    </div>
    <div class="opportunities__accordion-block">
      <ul class="list-reset opportunities__accordion-list">
        <li class="opportunities__accordion accordion-js">
          <button class="btn-reset opportunities__accordion-trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="opportunities__accordion-header">
              Финансовая аналитика
            </span>
            <span class="opportunities__accordion-icon"></span>
          </button>
          <div class="opportunities__accordion-content accordion-content-js" aria-hidden="true">
            <div class="opportunities__tab-content">
              <h3 class="third-title opportunities__content-title">
                Инструменты для финансовой аналитики
              </h3>
              <ul class="list-reset opportunities__content-list">
                <li class="text opportunities__content-item">
                  Отчёт о&nbsp;прибылях и&nbsp;убытках (P&amp;L)
                </li>
                <li class="text opportunities__content-item">
                  Отчёт о&nbsp;движении денежных средств (ДДС)
                </li>
                <li class="text opportunities__content-item">
                  Журнал операций
                </li>
                <li class="text opportunities__content-item">
                  Сводка продаж
                </li>
                <li class="text opportunities__content-item">
                  Учёт самовыкупов
                </li>
              </ul>
              <div class="opportunities__tab-img">
                <picture>
                  <source srcset="./images/capabilities-bg-1.webp" type="image/webp">
                  <img src="./images/capabilities-bg-1.jpg" alt="Отчёт" width="711" height="460">
                </picture>
              </div>
              <button class="btn btn-reset primary-btn opportunities__content-btn" type="button">
                Попробовать бесплатно
              </button>
            </div>
          </div>
        </li>
        <li class="opportunities__accordion accordion-js">
          <button class="btn-reset opportunities__accordion-trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="opportunities__accordion-header">
              Товарная аналитика
            </span>
            <span class="opportunities__accordion-icon"></span>
          </button>
          <div class="opportunities__accordion-content accordion-content-js" aria-hidden="true">
            <div class="opportunities__tab-content">
              <h3 class="third-title opportunities__content-title">
                Инструменты для&nbsp;товарной аналитики
              </h3>
              <ul class="list-reset opportunities__content-list">
                <li class="text opportunities__content-item">
                  Сводка продаж по&nbsp;артикулам и&nbsp;размерам
                </li>
                <li class="text opportunities__content-item">
                  ABC-анализ ассортимента
                </li>
                <li class="text opportunities__content-item">
                  Управление себестоимость, ценами, скидками
                </li>
                <li class="text opportunities__content-item">
                  Контроль остатков
                </li>
                <li class="text opportunities__content-item">
                  Работа с&nbsp;поставками Wildberries
                </li>
                <li class="text opportunities__content-item">
                  Расчет поставок
                </li>
              </ul>
              <div class="opportunities__tab-img">
                <picture>
                  <source srcset="./images/capabilities-bg-2.webp" type="image/webp">
                  <img src="./images/capabilities-bg-2.jpg" alt="Отчёт" width="700" height="450" loading="lazy">
                </picture>
              </div>
              <button class="btn btn-reset primary-btn opportunities__content-btn" type="button">
                Попробовать бесплатно
              </button>
            </div>
          </div>
        </li>
        <li class="opportunities__accordion accordion-js">
          <button class="btn-reset opportunities__accordion-trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="opportunities__accordion-header">
              Аналитика внутренней рекламы
            </span>
            <span class="opportunities__accordion-icon"></span>
          </button>
          <div class="opportunities__accordion-content accordion-content-js" aria-hidden="true">
            <div class="opportunities__tab-content">
              <h3 class="third-title opportunities__content-title">
                Инструменты для аналитики внутренней рекламы на маркетплейсах
              </h3>
              <ul class="list-reset opportunities__content-list">
                <li class="text opportunities__content-item">
                  Аналитика рекламы
                </li>
                <li class="text opportunities__content-item">
                  Учет расходов по&nbsp;рекламным кампаниям
                </li>
                <li class="text opportunities__content-item">
                  Список рекламных кампаний с&nbsp;детальной информацией в&nbsp;одном месте
                </li>
                <li class="text opportunities__content-item">
                  Определение реальной рекламной ставки в&nbsp;поиске Wildberries
                </li>
              </ul>
              <div class="opportunities__tab-img">
                <picture>
                  <source srcset="./images/capabilities-bg-3.webp" type="image/webp">
                  <img src="./images/capabilities-bg-3.jpg" alt="Отчёт" width="700" height="450" loading="lazy">
                </picture>
              </div>
              <button class="btn btn-reset primary-btn opportunities__content-btn" type="button">
                Попробовать бесплатно
              </button>
            </div>
          </div>
        </li>
        <li class="opportunities__accordion accordion-js">
          <button class="btn-reset opportunities__accordion-trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="opportunities__accordion-header">
              Статистика
            </span>
            <span class="opportunities__accordion-icon"></span>
          </button>
          <div class="opportunities__accordion-content accordion-content-js" aria-hidden="true">
            <div class="opportunities__tab-content">
              <h3 class="third-title opportunities__content-title">
                Инструменты для статистики
              </h3>
              <ul class="list-reset opportunities__content-list">
                <li class="text opportunities__content-item">
                  Дашборд
                </li>
                <li class="text opportunities__content-item">
                  Список всех заказов
                </li>
                <li class="text opportunities__content-item">
                  География заказов и&nbsp;продаж
                </li>
                <li class="text opportunities__content-item">
                  Сравнение статистики по&nbsp;периодам
                </li>
                <li class="text opportunities__content-item">
                  Сводная информация о&nbsp;заказах по&nbsp;времени
                </li>
              </ul>
              <div class="opportunities__tab-img">
                <picture>
                  <source srcset="./images/capabilities-bg-4.webp" type="image/webp">
                  <img src="./images/capabilities-bg-4.jpg" alt="Отчёт" width="700" height="450" loading="lazy">
                </picture>
              </div>
              <button class="btn btn-reset primary-btn opportunities__content-btn" type="button">
                Попробовать бесплатно
              </button>
            </div>
          </div>
        </li>
        <li class="opportunities__accordion accordion-js">
          <button class="btn-reset opportunities__accordion-trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="opportunities__accordion-header">
              Инструменты
            </span>
            <span class="opportunities__accordion-icon"></span>
          </button>
          <div class="opportunities__accordion-content accordion-content-js" aria-hidden="true">
            <div class="opportunities__tab-content">
              <h3 class="third-title opportunities__content-title">
                Дополнительные инструменты
              </h3>
              <ul class="list-reset opportunities__content-list">
                <li class="text opportunities__content-item">
                  Калькулятор unit экономики
                </li>
                <li class="text opportunities__content-item">
                  Калькулятор участия в&nbsp;акциях Wildberries
                </li>
              </ul>
              <div class="opportunities__tab-img">
                <picture>
                  <source srcset="./images/capabilities-bg-5.webp" type="image/webp">
                  <img src="./images/capabilities-bg-5.jpg" alt="Отчёт" width="700" height="450" loading="lazy">
                </picture>
              </div>
              <button class="btn btn-reset primary-btn opportunities__content-btn" type="button">
                Попробовать бесплатно
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
