<section class="questions">
  <div class="container questions__container">
    <h2 class="second-title questions__title">
      Часто задаваемые вопросы
    </h2>
    <span class="bg-text questions__subtitle">
      Собрали ответы на&nbsp;часто задаваемые вопросы от&nbsp;вас
    </span>
    <div class="questions__block">
      <ul class="list-reset questions__list">
        <li class="accordion accordion-js">
          <button class="btn-reset accordion__trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="accordion__header">
              Чем вы&nbsp;отличаетесь от&nbsp;Mpstats и&nbsp;других систем аналитики?
            </span>
            <span class="accordion__icon">
            </span>
          </button>
          <div class="accordion__content accordion-content-js" aria-hidden="true">
            <p class="accordion__text">
              Мы&nbsp;специализируемся на&nbsp;внутренней финансовой аналитике, поэтому данные у&nbsp;нас более точные
              и&nbsp;полезные. Другие сервисы аналитики обычно специализируются на&nbsp;внешнем анализе продаж всех
              поставщиков и&nbsp;берут данные из&nbsp;открытых источников. Мы&nbsp;же собираем данные только
              по&nbsp;вашим
              кабинетам, по&nbsp;тем доступам, которые вы&nbsp;нам предоставили.
            </p>
          </div>
        </li>
        <li class="accordion accordion-js">
          <button class="btn-reset accordion__trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="accordion__header">
              Сколько я&nbsp;могу пользоваться своими данными?
            </span>
            <span class="accordion__icon">
            </span>
          </button>
          <div class="accordion__content accordion-content-js" aria-hidden="true">
            <p class="accordion__text">
              Вы&nbsp;можете пользоваться своими данными в&nbsp;любое время, пока у&nbsp;вас активен один
              из&nbsp;тарифов.
            </p>
          </div>
        </li>
        <li class="accordion accordion-js">
          <button class="btn-reset accordion__trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="accordion__header">
              Сколько времени занимает создание отчетов?
            </span>
            <span class="accordion__icon">
            </span>
          </button>
          <div class="accordion__content accordion-content-js" aria-hidden="true">
            <p class="accordion__text">
              При первичной загрузке вашего магазина первые отчеты можно уже смотреть через 15-30&nbsp;минут, после
              добавления ключа.
            </p>
          </div>
        </li>
        <li class="accordion accordion-js">
          <button class="btn-reset accordion__trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="accordion__header">
              В&nbsp;чем удобство вашей аналитики?
            </span>
            <span class="accordion__icon">
            </span>
          </button>
          <div class="accordion__content accordion-content-js" aria-hidden="true">
            <p class="accordion__text">
              Аналитика в&nbsp;нашем сервисе показывает достоверную информацию о&nbsp;Вашем бизнесе в&nbsp;цифрах
              с&nbsp;разных сторон: финансовые и&nbsp;товарные. На&nbsp;все время пользования у&nbsp;вас есть
              возможность
              использовать нашу поддержку как техническую, так и&nbsp;консультационную.
            </p>
          </div>
        </li>
        <li class="accordion accordion-js">
          <button class="btn-reset accordion__trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="accordion__header">
              Насколько точные данные получаются по&nbsp;API?
            </span>
            <span class="accordion__icon">
            </span>
          </button>
          <div class="accordion__content accordion-content-js" aria-hidden="true">
            <p class="accordion__text">
              У&nbsp;каждого маркетплейса есть свои показатели по&nbsp;погрешности. В&nbsp;целом при получении
              финансовых
              отчетов погрешность меньше одного процента, а&nbsp;оперативные данные (список заказов, отказов
              и&nbsp;т.д.)
              в&nbsp;среднем около 15%. Со&nbsp;своей стороны мы&nbsp;постарались минимизировать расхождения
              и&nbsp;учли
              многоэтапную перепроверку данных, чтоб вы&nbsp;смогли получить самые точные данные.
            </p>
          </div>
        </li>
        <li class="accordion accordion-js">
          <button class="btn-reset accordion__trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="accordion__header">
              Что делать если маркетплейс изменит API?
            </span>
            <span class="accordion__icon">
            </span>
          </button>
          <div class="accordion__content accordion-content-js" aria-hidden="true">
            <p class="accordion__text">
              Вам ничего делать не&nbsp;нужно. Вся забота по&nbsp;контролю работы и&nbsp;изменений лежит полностью
              на&nbsp;нас. Мы&nbsp;следим за&nbsp;всеми новостями от&nbsp;маркетплейсов, которые касаются
              их&nbsp;работы,
              а&nbsp;передовые системы мониторинга своевременно увидят и&nbsp;оповестят нас в&nbsp;случае сбоев.
            </p>
          </div>
        </li>
        <li class="accordion accordion-js">
          <button class="btn-reset accordion__trigger accordion-trigger-js" type="button" aria-expanded="false">
            <span class="accordion__header">
              Безопасно&nbsp;ли передавать вам API ключи от&nbsp;кабинета?
            </span>
            <span class="accordion__icon">
            </span>
          </button>
          <div class="accordion__content accordion-content-js" aria-hidden="true">
            <p class="accordion__text">
              Абсолютно. Мы&nbsp;очень дорожим репутацией, поэтому серьезно относимся к&nbsp;безопасности данных. Ваши
              данные надежно хранятся в&nbsp;самых современных дата-центрах на&nbsp;территории РФ. Доступ
              к&nbsp;оборудованию имеет ограниченный круг лиц. При необходимости мы&nbsp;готовы заключить с&nbsp;вами
              дополнительное соглашение об&nbsp;неразглашении (NDA).
            </p>
          </div>
        </li>
      </ul>
      <div class="try questions__try">
        <div class="questions__try-content">
          <h3 class="third-title questions__try-title">
            Повысьте эффективность маркетинга и&nbsp;продаж с&nbsp;Mpassistant
          </h3>
          <div class="questions__try-text">
            3-дневный пробный период с&nbsp;неограниченным доступом ко&nbsp;всем возможностям
          </div>
          <form class="try__form questions__try-form">
            <label class="try__form-label questions__try-label">
              <input type="email" class="try__form-input questions__try-input" placeholder="Введите ваш email">
            </label>
            <button class="btn btn-reset primary-btn try__form-btn questions__try-btn" type="submit">
              Попробовать
            </button>
          </form>
        </div>
        <div class="questions__try-img-block">
          <picture class="questions__try-picture">
            <source media="(max-width: 1050px)" srcset="./images/questions-sm.webp" type="image/webp">
            <source media="(max-width: 1050px)" srcset="./images/questions-sm.png">
            <source srcset="./images/questions-bg.webp" type="image/webp">
            <img class="questions__try-img" src="./images/questions-bg.png" alt="Продавец на фоне графиков продаж"
              width="406" height="317">
          </picture>
        </div>
        <img class="questions-deco-1" src="./images/svg/questions-deco-1.svg" alt="Декор">
        <picture class="questions-deco-picture-2">
          <source media="(max-width: 540px)" srcset="./images/svg/questions-deco-sm-2.svg">
          <img class="questions-deco-2" src="./images/svg/questions-deco-2.svg" alt="Декор">
        </picture>
      </div>
    </div>
  </div>
</section>
