<section class="reports">
  <div class="container reports__container">
    <h2 class="second-title reports__title">
      Собираем единые отчёты по&nbsp;всем вашим магазинам
    </h2>
    <span class="bg-text reports__subtitle">
      C&nbsp;Mpassistant вы сможете:
    </span>
    <div class="reports__block">
      <ul class="list-reset reports__list">
        <li class="reports__item">
          <svg class="reports__item-svg">
            <use xlink:href="#check-mark-circle"></use>
          </svg>
          <span class="reports__item-text bg-text">
            Сможете видеть прибыль по&nbsp;всем магазинам и&nbsp;маркетплейсам в&nbsp;одном месте
          </span>
        </li>
        <li class="reports__item">
          <svg class="reports__item-svg">
            <use xlink:href="#check-mark-circle"></use>
          </svg>
          <span class="reports__item-text bg-text">
            Не&nbsp;потратите время на&nbsp;сбор данных из&nbsp;нескольких кабинетов или маркетплейсов
          </span>
        </li>
        <li class="reports__item">
          <svg class="reports__item-svg">
            <use xlink:href="#check-mark-circle"></use>
          </svg>
          <span class="reports__item-text bg-text">
            Добавите любое количество магазинов
          </span>
        </li>
      </ul>
      <div class="reports__img-block">
        <picture>
          <source media="(max-width:540px)" srcset="./images/reports-sm.webp" type="image/webp">
          <source media="(max-width:540px)" srcset="./images/reports-sm.png">
          <source srcset="./images/reports-bg.webp" type="image/webp">
          <img src="./images/reports-bg.png" alt="Сеть магазинов" width="690" height="416">
        </picture>
      </div>
    </div>
  </div>
</section>
