<section class="reviews">
  <div class="container reviews__container">
    <div class="swiper reviews-swiper">
      <div class="reviews__swiper-top">
        <h2 class="second-title reviews__title">
          Отзывы
        </h2>
        <div class="reviews__arrow-block">
          <button class="btn-reset swiper-button-prev reviews-swiper-button-prev" type="button">
          </button>
          <button class="btn-reset swiper-button-next reviews-swiper-button-next" type="button">
          </button>
        </div>
      </div>
      <div class="swiper-wrapper reviews-swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews__card">
            <svg class="reviews__card-deco">
              <use xlink:href="#quote"></use>
            </svg>
            <div class="text reviews__card-text">
              <p class="reviews__card-paragraph">
                Изначально нашёл сервис в&nbsp;поиске Яндекса, когда искал калькулятор unit-экономики товара.
                Калькулятор
                полностью устроил и&nbsp;решил пользоваться самим сайтом.
              </p>
              <p class="reviews__card-paragraph">
                К&nbsp;тому&nbsp;же это было для меня
                бесплатно,
                так как проходил по&nbsp;условиям бесплатного доступа: оборот до&nbsp;200т.р в&nbsp;месяц.
              </p>
              <p class="reviews__card-paragraph">
                Этого
                не&nbsp;встретить на&nbsp;других сайтах, это возможность развиваться на&nbsp;ранних этапах, без вложения
                огромных сумм для доступа к&nbsp;подобным сайтам.
              </p>
              <p class="reviews__card-paragraph">
                Радует поддержка, получал ответы на&nbsp;всевопросы, выслушивали все мои рекомендации по&nbsp;улучшению
                сервиса. Какие‑то из&nbsp;них уже внедрены! Сервис ориентирован на&nbsp;аналитику своего магазина,
                продаж.
                Удобно анализировать финансовую составляющую.
              </p>
              <p class="reviews__card-paragraph">
                Бывают акции, когда можно хорошо сэкономить на&nbsp;подписке.
                Желаю сервису развития и&nbsp;успехов!
              </p>
            </div>
            <div class="reviews__card-bottom">
              <button class="btn-reset reviews__btn reviews__btn--active" type="button">
                Читать полностью
                <svg class="reviews__check-mark">
                  <use xlink:href="#check-mark"></use>
                </svg>
              </button>
              <span class="reviews__card-author">
                Алексей
              </span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <svg class="reviews__card-deco">
              <use xlink:href="#quote"></use>
            </svg>
            <div class="text reviews__card-text">
              <p class="reviews__card-paragraph">
                Функционал сервиса, тот что есть&nbsp;&mdash; полностью устраивает. Хочется ещё автобиддер
                по&nbsp;ставкам
                в&nbsp;рекламных компаниях и&nbsp;цены вам не&nbsp;будет!
              </p>
            </div>
            <div class="reviews__card-bottom">
              <button class="btn-reset reviews__btn" type="button">
                Читать полностью
                <svg class="reviews__check-mark">
                  <use xlink:href="#check-mark"></use>
                </svg>
              </button>
              <span class="reviews__card-author">
                Владислав
              </span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <svg class="reviews__card-deco">
              <use xlink:href="#quote"></use>
            </svg>
            <div class="text reviews__card-text">
              <p class="reviews__card-paragraph">
                Изначально нашёл сервис в&nbsp;поиске Яндекса, когда искал калькулятор unit-экономики товара.
                Калькулятор
                полностью устроил и&nbsp;решил пользоваться самим сайтом.
              </p>
              <p class="reviews__card-paragraph">
                К&nbsp;тому&nbsp;же это было для меня
                бесплатно,
                так как проходил по&nbsp;условиям бесплатного доступа: оборот до&nbsp;200т.р в&nbsp;месяц.
              </p>
              <p class="reviews__card-paragraph">
                Этого
                не&nbsp;встретить на&nbsp;других сайтах, это возможность развиваться на&nbsp;ранних этапах, без вложения
                огромных сумм для доступа к&nbsp;подобным сайтам.
              </p>
              <p class="reviews__card-paragraph">
                Радует поддержка, получал ответы на&nbsp;всевопросы, выслушивали все мои рекомендации по&nbsp;улучшению
                сервиса. Какие‑то из&nbsp;них уже внедрены! Сервис ориентирован на&nbsp;аналитику своего магазина,
                продаж.
                Удобно анализировать финансовую составляющую.
              </p>
              <p class="reviews__card-paragraph">
                Бывают акции, когда можно хорошо сэкономить на&nbsp;подписке.
                Желаю сервису развития и&nbsp;успехов!
              </p>
            </div>
            <div class="reviews__card-bottom">
              <button class="btn-reset reviews__btn reviews__btn--active" type="button">
                Читать полностью
                <svg class="reviews__check-mark">
                  <use xlink:href="#check-mark"></use>
                </svg>
              </button>
              <span class="reviews__card-author">
                Алексей
              </span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <svg class="reviews__card-deco">
              <use xlink:href="#quote"></use>
            </svg>
            <div class="text reviews__card-text">
              <p class="reviews__card-paragraph">
                Функционал сервиса, тот что есть&nbsp;&mdash; полностью устраивает. Хочется ещё автобиддер
                по&nbsp;ставкам
                в&nbsp;рекламных компаниях и&nbsp;цены вам не&nbsp;будет!
              </p>
            </div>
            <div class="reviews__card-bottom">
              <button class="btn-reset reviews__btn" type="button">
                Читать полностью
                <svg class="reviews__check-mark">
                  <use xlink:href="#check-mark"></use>
                </svg>
              </button>
              <span class="reviews__card-author">
                Владислав
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination reviews-swiper-pagination"></div>
    </div>
  </div>
</section>
