<section class="tariff" id="tariff">
  <div class="container tariff__container">
    <h2 class="second-title tariff__title">
      Выберите тариф
    </h2>
    <div class="tariff__tabs-block tabs-block">
      <div class="swiper mobile-swiper" data-mobile="false">
        <div class="mobile-wrapper swiper-wrapper tariff__tabs-list tabs">
          <div class="swiper-slide mobile-slide-auto">
            <button class="btn btn-reset tariff__tabs-btn tariff__tabs-btn--active tabs__btn" type="button" data-tab="tariff-tab-1">
              1&nbsp;месяц
            </button>
          </div>
          <div class="swiper-slide mobile-slide-auto">
            <button class="btn btn-reset tariff__tabs-btn tabs__btn" type="button" data-tab="tariff-tab-2">
              3&nbsp;месяца
            </button>
          </div>
          <div class="swiper-slide mobile-slide-auto">
            <button class="btn btn-reset tariff__tabs-btn tabs__btn" type="button" data-tab="tariff-tab-3">
              6&nbsp;месяцев
            </button>
          </div>
          <div class="swiper-slide mobile-slide-auto">
            <button class="btn btn-reset tariff__tabs-btn tabs__btn" type="button" data-tab="tariff-tab-4">
              12&nbsp;месяцев
            </button>
          </div>
        </div>
      </div>
      <div class="tariff__tab tariff__tab--active tab" id="tariff-tab-1">
        <div class="tariff__tab-card">
          <h3 class="third-title tariff__tab-title tariff__tab-start">
            Стартовый
          </h3>
          <span class="tariff__tab-price">
            Бесплатно
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="tariff__tab-card">
          <h3 class="third-title tariff__tab-title tariff__tab-start">
            Стартовый +
          </h3>
          <span class="tariff__tab-price">
            2&nbsp;490&nbsp;₽
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="tariff__tab-card">
          <h3 class="third-title tariff__tab-title tariff__tab-start">
            Профи
          </h3>
          <span class="tariff__tab-price">
            6&nbsp;990&nbsp;₽
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="tariff__tab tab" id="tariff-tab-2">
        <div class="tariff__tab-card">
          <h3 class="third-title tariff__tab-title tariff__tab-start">
            Стартовый
          </h3>
          <span class="tariff__tab-price">
            Бесплатно
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="tariff__tab-card">
          <span class="tariff__tab-discount">&mdash;&nbsp;10%</span>
          <h3 class="third-title tariff__tab-title">
            Стартовый +
          </h3>
          <span class="tariff__tab-monthly-payment">
            2&nbsp;241&nbsp;₽/мес
          </span>
          <span class="tariff__tab-price">
            6&nbsp;723&nbsp;₽
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="tariff__tab-card">
          <span class="tariff__tab-discount">&mdash;&nbsp;10%</span>
          <h3 class="third-title tariff__tab-title">
            Профи
          </h3>
          <span class="tariff__tab-monthly-payment">
            6&nbsp;291&nbsp;₽/мес
          </span>
          <span class="tariff__tab-price">
            18&nbsp;873&nbsp;₽
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="tariff__tab tab" id="tariff-tab-3">
        <div class="tariff__tab-card">
          <h3 class="third-title tariff__tab-title tariff__tab-start">
            Стартовый
          </h3>
          <span class="tariff__tab-price">
            Бесплатно
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="tariff__tab-card">
          <span class="tariff__tab-discount">&mdash;&nbsp;15%</span>
          <h3 class="third-title tariff__tab-title">
            Стартовый +
          </h3>
          <span class="tariff__tab-monthly-payment">
            2&nbsp;116&nbsp;₽/мес
          </span>
          <span class="tariff__tab-price">
            12&nbsp;696&nbsp;₽
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class=" btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="tariff__tab-card">
          <span class="tariff__tab-discount">&mdash;&nbsp;15%</span>
          <h3 class="third-title tariff__tab-title">
            Профи
          </h3>
          <span class="tariff__tab-monthly-payment">
            5&nbsp;941&nbsp;₽/мес
          </span>
          <span class="tariff__tab-price">
            35&nbsp;646&nbsp;₽
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="tariff__tab tab" id="tariff-tab-4">
        <div class="tariff__tab-card">
          <h3 class="third-title tariff__tab-title tariff__tab-start">
            Стартовый
          </h3>
          <span class="tariff__tab-price">
            Бесплатно
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="tariff__tab-card">
          <span class="tariff__tab-discount">&mdash;&nbsp;25%</span>
          <h3 class="third-title tariff__tab-title">
            Стартовый +
          </h3>
          <span class="tariff__tab-monthly-payment">
            1&nbsp;867&nbsp;₽/мес
          </span>
          <span class="tariff__tab-price">
            22&nbsp;404&nbsp;₽
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="tariff__tab-card">
          <span class="tariff__tab-discount">&mdash;&nbsp;25%</span>
          <h3 class="third-title tariff__tab-title">
            Профи
          </h3>
          <span class="tariff__tab-monthly-payment">
            5&nbsp;242&nbsp;₽/мес
          </span>
          <span class="tariff__tab-price">
            62&nbsp;904&nbsp;₽
          </span>
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="tariff__novice">
      <div class="tariff__novice-content">
        <h3 class="third-title tariff__novice-title">
          Начинающим селлерам с&nbsp;выручкой
        </h3>
        <span class="tariff__novice-revenue">
          до&nbsp;200&nbsp;000&nbsp;₽/мес
        </span>
        <span class="tariff__novice-price">
          Бесплатно
        </span>
        <div class="tariff__novice-btns">
          <button class="btn btn-reset primary-btn tariff__tab-btn tariff__primary-tab-btn" type="button">
            Попробовать
          </button>
          <button class="btn btn-reset secondary-btn tariff__tab-btn" type="button">
            Подробнее
            <svg class="tariff__tab-btn-svg">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="tariff__novice-img-block">
        <picture class="tariff__novice-picture">
          <source media="(max-width: 1050px)" srcset="./images/tariff-novice-sm.webp" type="image/webp">
          <source media="(max-width: 1050px)" srcset="./images/tariff-novice-sm.png">
          <source srcset="./images/tariff-novice-bg.webp" type="image/webp">
          <img class="tariff__novice-img" src="./images/tariff-novice-bg.png" alt="Начинающий продавец на фоне посылок"
            width="884" height="394">
        </picture>
      </div>
    </div>
  </div>
</section>
