<section class="why" id="why">
  <div class="container why__container">
    <h2 class="second-title why__title">
      Почему выбирают Mpassistant
    </h2>
    <div class="why__card-block">
      <div class="why__card">
        <h3 class="third-title why__card-title why__card-title--1">
          <img class="why__card-img why__card-img--1" src="./images/svg/why-accuracy.svg" alt="Мишень" width="35" height="35">
          Точность данных
        </h3>
        <div class="text why__card-text">
          Данные в&nbsp;отчётах сервиса полностью совпадает с&nbsp;данными ваших магазинов на&nbsp;маркетплейсах.
        </div>
      </div>
      <div class="why__card">
        <h3 class="third-title why__card-title why__card-title--2">
          <img class="why__card-img why__card-img--2" src="./images/svg/why-analytics.svg" alt="Монитор" width="55" height="34">
          Большой функционал
        </h3>
        <div class="text why__card-text">
          Полный набор инструментов для&nbsp;внутренней аналитики для&nbsp;Wildberries и&nbsp;Ozon. Более 10&nbsp;полезных отчётов
          с&nbsp;удобными настраиваемыми фильтрами и&nbsp;параметрами.
        </div>
      </div>
      <div class="why__card">
        <h3 class="third-title why__card-title why__card-title--3">
          <img class="why__card-img why__card-img--3" src="./images/svg/why-manual.svg" alt="Книга" width="40" height="32">
          Лёгкость освоения
        </h3>
        <div class="text why__card-text">
          Наши отчёты просты и&nbsp;удобны. Все&nbsp;отчёты имеют подробные инструкции и&nbsp;видео, помогающие легко читать
          их&nbsp;и&nbsp;использовать.
        </div>
      </div>
      <div class="why__card">
        <h3 class="third-title why__card-title why__card-title--4">
          <img class="why__card-img why__card-img--4" src="./images/svg/why-experience.svg" alt="Человек" width="34" height="45">
          Подходит всем
        </h3>
        <div class="text why__card-text">
          Mpassistant создан селлерами для&nbsp;селлеров. Наш опыт в&nbsp;товарном бизнесе и&nbsp;разработке&nbsp;IT систем
          позволил создать полезный и&nbsp;удобный продукт, поэтому он&nbsp;подойдёт как для новичков, так&nbsp;и&nbsp;для
          опытных селлеров.
        </div>
      </div>
      <div class="why__card">
        <h3 class="third-title why__card-title why__card-title--5">
          <img class="why__card-img why__card-img--5" src="./images/svg/why-confidential-document.svg" alt="Замок" width="36" height="42">
          Конфиденциальность
        </h3>
        <div class="text why__card-text">
          Ваша конфиденциальность для&nbsp;нас&nbsp;самый главный приоритет. Все ваши данные надёжно сохранены, а&nbsp;информация
          об&nbsp;этом записана в&nbsp;договоре-оферте. По&nbsp;желанию можем заключить дополнительное соглашение (NDA).
        </div>
      </div>
      <div class="why__card">
        <h3 class="third-title why__card-title why__card-title--6">
          <img class="why__card-img why__card-img--6" src="./images/svg/why-customer-service.svg" alt="Гарнитура" width="39" height="38">
          Служба заботы
        </h3>
        <div class="text why__card-text">
          Наша служба заботы готова решить практически любые вопросы и&nbsp;в&nbsp;режиме 24/7.
        </div>
      </div>
    </div>
  </div>
</section>
