:root {
  // colors
  --primary: #2eb897;
  --primary-gradient: #11ae88;
  --secondary: #2a84ee;
  --md-secondary: #e8f2fc;
  --ligth-secondary: #eaf3fd;
  --black: #000;
  --dark: #212121;
  --md-dark: #6c778e;
  --cadet-grey: #969eb1;
  --silver: #c3c3c3;
  --gainsboro: #d9d9d9;
  --ligth-gainsboro: #dbe1e9;
  --white: #fff;
  --ghost-white: #f6faff;
  --ligth-ghost-white: #f5fbff;
  --lavender: #cedff4;
  --wb: #702a8a;
  --ligth-beige: #fff1d7;
  --beige: #ffb57f;
}
